DreamOS/External/CEF/CEF_BINARY_3.2924.1570/Debug/* filter=lfs diff=lfs merge=lfs -text
DreamOS/External/CEF/CEF_BINARY_3.2924.1570/Release/* filter=lfs diff=lfs merge=lfs -text
DreamOS/External/assimp/3.3.1/bin/Debug/*.pdb filter=lfs diff=lfs merge=lfs -text
DreamOS/External/assimp/3.3.1/bin/Debug/*.ilk filter=lfs diff=lfs merge=lfs -text

# Declare files that will always have CRLF line endings on checkout.
*.c eol=crlf
*.cpp eol=crlf
*.h eol=crlf
*.tpp eol=crlf
*.css eol=crlf
*.hpp eol=crlf
*.cc eol=crlf
*.html eol=crlf
*.js eol=crlf
*.py eol=crlf
*.sh eol=crlf
*.vcxproj* eol=crlf
*.obj eol=crlf
